body {
  margin: 0;
  padding: 0;

  background-image: url("second.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

  margin-top: 300px;
}

.landing-page-txt-container {
  border: 1px solid #fff4f4;
  border-radius: 4px;
  background-color: #fff4f4;

  padding: 10px;
}

.landing-page-btn {
  border: 1px solid #ffcaca;
  border-radius: 30px;
  background-color: #ffcaca;

  padding: 15px;
}
