* {
  margin: 0;
  padding: 0;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}

.landing-container {
  position: absolute;
  bottom: 37%;
  right: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.landing-page-txt-container {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
}

.landing-title {
  text-align: center;
  color: #fff8f0;
}

.landing-txt {
  font-size: 25px;
  color: #e8dccf;

  margin-bottom: 0;
  text-align: center;
}

.explore-btn {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 999px;
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #000;
  transition: 0.2s ease; /* smooth animation */
  cursor: pointer;
}

.explore-btn:hover {
  background: #f2f2f2;
  transform: translateY(-1px); /* same animation as submit button */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}
